# Ignore environment variables file
.env

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore VS Code specific files
.vscode/

# Ignore embedding cache directory
embedding_cache/

# Ignore generated output chunks
output/

# Ignore Reranking cache
~/.cache/
.langchain.db

semantic_cache_index/

.vincent/
my_knowledge_graph.pkl
